HELP.md
# Gradle
.gradle/
build/
!gradle-wrapper.jar
.gradle/cache/
.gradle/daemon/
.gradle/workspace/
.gradle/buildOutputCleanup/
!gradlew
!gradlew.bat
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
log/

# Spring Boot
logs/
*.log

# 환경 파일
application.yml
application-*.yml
application.properties
application-*.properties
.env

# OS 및 IDE
.DS_Store
Thumbs.db

# Java
*.class

### VS Code ###
.vscode/

### Kotlin ###
.kotlin